
// Used for grayed out items or light text
$colorGrayedOut: rgb(150, 150, 150);
$colorCaptains: rgb(150, 150, 150);
$colorSecondaryText: rgb(100, 100, 100);

$pageContentMaxWidth: 1000px;

$titleSpacing: 0.1em;